<div class="parentDiv">

    <div class="brandingDiv">
        <h1>Simple-Ship</h1>
    </div>


    <div class="loginDiv">

        <layout-twocolumn>

            <label>Username:</label>
            <input type="text" placeholder="Username" [(ngModel)]="usernameInput" id="{{usernameId}}">
            <label>Password:</label>
            <input type="password" placeholder="****" [(ngModel)]="passwordInput" id="{{passwordId}}">

        </layout-twocolumn>

        <button class="loginButton" (click)="login()">Login</button>

    </div>


</div>