<h1>Customer order</h1>
<div class="tabContainer">

    <mat-tab-group>

        <mat-tab label="Head data">
            <div class="marginDiv">
                <cutomerorder-editor-headdata [model]="model"></cutomerorder-editor-headdata>
            </div>
        </mat-tab>

        <mat-tab label="Positions">
            <div class="marginDiv">
                <!-- <warehouse-editor-warehouse-area [warehouseId]="warehouseId"></warehouse-editor-warehouse-area> -->
            </div>
        </mat-tab>

    </mat-tab-group>


</div>