<div class="parent">

    <div *ngIf="showHead" class="sideMenuWrapper">
        <sidemenu></sidemenu>
    </div>

    <div *ngIf="showHead" class="sideMenuWrapperMobile">
        <button mat-icon-button (click)="showMobileMenu=!showMobileMenu">
            <mat-icon>menu</mat-icon>
        </button>
        <div *ngIf="showMobileMenu" class="sideMenuWrapperMobileContent">
            <sidemenu></sidemenu>
        </div>
    </div>

    <div class="mainContentContainer">
        <!-- <body> -->
        <router-outlet></router-outlet>
        <!-- <app-messages></app-messages> -->
        <!-- </body> -->
    </div>
</div>