<div class="context">
    <ul>
        <sidemenuentry *ngIf="logisticExecutionEntryVisible" [entryDetails]='logisticExecutionEntry'></sidemenuentry>
        <sidemenuentry *ngIf="articleEntryVisible" [entryDetails]='articleEntry'></sidemenuentry>
        <sidemenuentry *ngIf="stockEntryVisible" [entryDetails]='stockEntry'></sidemenuentry>
        <sidemenuentry *ngIf="systemEntryVisible" [entryDetails]='systemEntry'></sidemenuentry>
        <sidemenuentry *ngIf="logisticConfigEntryVisible" [entryDetails]='logisticConfigEntry'></sidemenuentry>
    </ul>
</div>